<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/js/myjs.js" type="text/javascript"></script>

</head>
<body onload="resetSelection()">
<select id="countrySelect" size="1" onchange="makeSubmenu(this.value)">
    <option value="" disabled selected>Choose State</option>
    <option></option>
</select>
<select id="citySelect" size="1" onchange="displaySelected()">
    <option value="" disabled selected>Choose City</option>
    <option></option>
</select>
<br><p id="demo"></p>
<br><p id="csv"></p>
</body>
</html>
