<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Whether</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="card">



    </div>


    <h1>In mainpage.HTML</h1>

    <p>lat:</p>
    <p th:text="${lat}"></p>

    <p>longitude:</p>
    <p th:text="${lon}"></p>

    <p>timezone:</p>
    <p th:text="${timezone}"></p>

    <p>timezone_offset:</p>
    <p th:text="${timezone_offset}"></p>

    <!--
    <p id="demo">Getting Users Location...</p>
    <p>test</p>
    -->
</body>

</html>
