<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Whether</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="card">



    </div>


    <h1>In mainpage.HTML</h1>

    <h3>latitude:</h3>
    <h3 th:text="${latitude}"></h3>

    <h3>longitude:</h3>
    <h3 th:text="${longitude}"></h3>

    <h3>country code:</h3>
    <h3 th:text="${country}"></h3>

    <h3>sunrise UNIX time stamp:</h3>
    <h3 th:text="${sunrise}"></h3>

    <h3>sunset UNIX time stamp:</h3>
    <h3 th:text="${sunset}"></h3>

    <!--
    <p id="demo">Getting Users Location...</p>
    <p>test</p>
    -->
</body>

</html>
