<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Website</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/Liquid.css">
        <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/fonts/line-awesome.min.css">
        <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/css/Accordion.css">
        <link rel="stylesheet" href="/css/odometer-theme-digital.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body onload="resetSelection()" style="background: url(&quot;/img/Login_background.png&quot;);background-size: cover;padding-right: 6px;padding-left: 6px;padding-top: 7px;padding-bottom: 6px;">
    <nav class="navbar navbar-dark navbar-expand-md bg-info shadow" style="height: 56px;">
        <div class="container"><i class="fas fa-cloud-moon-rain" style="color: rgb(255,255,255);"></i><a class="navbar-brand" href="#">&nbsp;Whether?</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" th:href="@{/index_1}">Log In&nbsp;<i class="fa fa-arrow-circle-o-right"></i></a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/registration}">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="container-fluid" style="height: 141px;">
        <div class="col">
    
            <div class="row">
                <div class="col">
                    <h1 class="text-center" th:text="${current_dt_adjusted_hour}"></h1>
                </div>
    
                <div class="col">
                    <div class="row">
                        <p class="text-center">Location: Detected!</p>
                        <h1 hidden id="sunrise_time" th:text="${current_sunrise_sundial}"></h1>
                        <h1 hidden id="sunset_time" th:text="${current_sunset_sundial}"></h1>
                    </div>
                    <div class="row">
                        <h2 class="text-center" id="city-name-header-title" style="text-shadow: 12px 0px 2px rgb(205,215,225);" th:text="${cityname}"></h2>
                    </div>
                </div>
    
    
                <div class="col">
    
                    <div class="row">
                        <p class="text-center" style="font-size: 14px;line-height: 21px;height: 20px;">Not your location? Click here.</p>
                    </div>
    
    
                    <div class="row">
                        <select id="countrySelect" size="1" onchange="makeSubmenu(this.value)">
                            <option value="" disabled selected>Choose State</option>
                            <option></option>
                        </select>
                        <select id="citySelect" size="1" onchange="displaySelected()">
                            <option value="" disabled selected>Choose City</option>
                            <option></option>
                        </select>
                        <br><p id="demo"></p>
                        <br><p id="csv"></p>
                    </div>
    
    
            </div>
    
    
            <div class="row">
                <div class="col">
    
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row weather-grid">
        <div class="col-md-6">
            <div id="sundial-card" class="product-small" style="height: 540px;background: url(&quot;/img/sundial-trans-35-percent.png&quot;) center / cover;box-shadow: 0px 0px 10px;">
                <h4 style="color: rgb(255,255,255);"><strong>The Whether? Sundial:</strong></h4>
    
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457 399" style="width: 321px;height: 326px;">
                    <defs>
                        <style>
                            .a {
                                fill: #e0dfd9;
                            }
    
                            .a, .b, .c, .d {
                                stroke: #000;
                                stroke-miterlimit: 10;
                            }
    
                            .b {
                                fill: none;
                            }
    
                            .c {
                                fill: #282823;
                            }
    
                            .d {
                                fill: #fbff5f;
                            }
    
                            .e {
                                font-size: 18px;
                                font-family: MyriadPro-Regular, Myriad Pro;
                            }
    
                            .f {
                                letter-spacing: 0em;
                            }
    
                            .g {
                                letter-spacing: -0.01em;
                            }
                        </style>
                    </defs>
                    <title>whetherwheelwithlights</title>
                    <ellipse class="a" cx="228.5" cy="199.5" rx="228" ry="199"/>
                    <ellipse class="b" cx="228.5" cy="182.5" rx="223" ry="182"/>
                    <ellipse class="b" cx="223.5" cy="185.5" rx="141" ry="122"/>
                    <ellipse class="b" cx="223" cy="199.5" rx="136.5" ry="108"/>
                    <g>
                        <ellipse id="0" class="d" cx="231.5" cy="342" rx="16" ry="11.5"/>
                        <ellipse id="1" class="c" cx="186" cy="336" rx="15.5" ry="12.5"/>
                        <ellipse id="2" class="c" cx="148.5" cy="325.5" rx="13" ry="11"/>
                        <ellipse id="3" class="c" cx="115" cy="307.5" rx="14.5" ry="12"/>
                        <ellipse id="4" class="c" cx="85.5" cy="279.5" rx="15" ry="11"/>
                        <ellipse id="5" class="c" cx="59" cy="245" rx="16.5" ry="11.5"/>
                        <ellipse id="6" class="c" cx="45.5" cy="203" rx="17" ry="12.5"/>
                        <ellipse id="7" class="d" cx="48" cy="163" rx="14.5" ry="11.5"/>
                        <ellipse id="8" class="d" cx="67" cy="126.5" rx="15.5" ry="11"/>
                        <ellipse id="9" class="d" cx="91" cy="89" rx="15.5" ry="10.5"/>
                        <ellipse id="10" class="d" cx="127.5" cy="59" rx="16" ry="11.5"/>
                        <ellipse id="11" class="d" cx="175.5" cy="43" rx="14" ry="9.5"/>
                        <ellipse id="12" class="d" cx="223.5" cy="36" rx="16" ry="11.5"/>
                        <ellipse id="13" class="d" cx="273" cy="41" rx="14.5" ry="11.5"/>
                        <ellipse id="14" class="d" cx="315" cy="57" rx="14.5" ry="9.5"/>
                        <ellipse id="15" class="d" cx="352" cy="80" rx="12.5" ry="9.5"/>
                        <ellipse id="16" class="d" cx="378.5" cy="101.5" rx="14" ry="10"/>
                        <ellipse id="17" class="d" cx="392.5" cy="137.5" rx="14" ry="11"/>
                        <ellipse id="18" class="d" cx="407.5" cy="179" rx="15" ry="11.5"/>
                        <ellipse id="19" class="d" cx="401.5" cy="215" rx="15" ry="11.5"/>
                        <ellipse id="20" class="d" cx="387" cy="246" rx="14.5" ry="11.5"/>
                        <ellipse id="21" class="d" cx="363" cy="277.5" rx="15.5" ry="13"/>
                        <ellipse id="22" class="d" cx="329" cy="307" rx="14.5" ry="11.5"/>
                        <ellipse id="23" class="c" cx="286.5" cy="331" rx="14" ry="11.5"/>
                        <text class="e" transform="translate(190 293.78)">MIDNIGHT</text>
                        <text class="e" transform="translate(198.24 114.44)">NOON</text>
                        <text class="e" transform="translate(98.51 208.17)">6 <tspan class="f" x="13.05" y="0">A</tspan><tspan x="23.99" y="0">M</tspan></text>
                        <text class="e" transform="translate(302.3 202.96)">6 <tspan class="g" x="13.05" y="0">P</tspan><tspan x="22.41" y="0">M</tspan></text>
                    </g>
                </svg>
    
    
            </div>
            <div id="futurecast-card" class="product-small" style="background: url(&quot;/img/futurecast-blurry3.png&quot;) center / cover;height: 540px;box-shadow: 0px 0px 10px;">
    
                <h4 style="margin: 0px;margin-top: 20px;"><strong>The Futurecast</strong></h4><a href=# id="future-cast"><img src="/img/ezgif.com-gif-maker.gif"></a>
    
                <h3 class="sundial-subtext">See this week's weather!</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div id="current-weather-card" class="product-small" style="height: 540px;background: url(&quot;/img/02d-transparent.png&quot;);background-size: cover;box-shadow: 0px 0px 10px;">
                <h4 style="color: rgb(255,255,255);margin-bottom: 50px;"><strong>Current Weather:</strong></h4>
                <div class="table-responsive table-borderless" style="margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;">
                    <table class="table table-striped table-bordered table-dark" id="the-table">
                        <thead>
                        <tr>
                            <th>Temperature:</th>
                            <th th:text="${current_temp}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="background: url(&quot;/img/thermometer-transparent45.png&quot;) center;">
                            <td>Feels like:</td>
                            <td th:text="${current_feels_like}"></td>
                        </tr>
                        <tr>
                            <td>Rain Chance:</td>
                            <td th:text="${hourly_pop0}"></td>
                        </tr>
                        <tr>
                            <td>Rel. Humidity:</td>
                            <td th:text="${current_humidity}"></td>
                        </tr>
                        <tr>
                            <td>Wind Speed:</td>
                            <td th:text="${current_wind_speed}"></td>>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="sam-the-snowman-card" class="product-small" style="height: 540px;background: url(&quot;/img/sam-the-snowman-bg.png&quot;) center / cover;box-shadow: 0px 0px 10px;">
                <h4 style="height: 36px;margin-top: 20px;"><strong>Sam the Snowman</strong></h4>
                <div id="snowman" class="container"><a href=# onclick="generate()"><img src="/img/sam-the-snowman-new.png" style="width: 725px;height: 414px;"></a>
                    <p id="sams-speech-bubble-text" style="width: 349px;font-size: 15px;">Hi! I'm Sam the Snowman! Click me to reveal #thefacts about the weather!</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/myjs.js"></script>
    <script src="/js/weatherfactssimpleversion.js"></script>
    
        <script>
            var sunrise = document.getElementById("sunrise_time").textContent;
            var sunset = document.getElementById("sunset_time").textContent;
    
            //var sunset = 19;
            //var sunrise = 6;
    
            var r1 = 254;
            var g1 = 255;
            var b1 = 63;
    
            var r2 = 25;
            var g2 = 26;
            var b2 = 7;
    
            var r_sunrise = 183;
            var g_sunrise = 250;
            var b_sunrise = 255;
    
            var r_sunset = 255;
            var g_sunset = 117;
            var b_sunset = 64;
    
    
            for (i = 0; i < 24; i++)
            {
                var x = document.getElementById(""+i);
    
    
                if (i > sunrise && i < sunset)
                {
                    x.style.fill = 'rgb(' + r1 + ', ' + g1 + ' , ' + b1 + ')';
                }
    
                else
                {
                    x.style.fill = 'rgb(' + r2 + ', ' + g2 + ' , ' + b2 + ')';
                }
    
                if (i == sunrise)
                {
                    x.style.fill = 'rgb(' + r_sunrise + ', ' + g_sunrise + ' , ' + b_sunrise + ')';
                }
    
                if (i == sunset)
                {
                    x.style.fill = 'rgb(' + r_sunset + ', ' + g_sunset + ' , ' + b_sunset + ')';
                }
            }
    
    
    
        </script>
    
    </body>
    
    </html>