<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/style_1.css">
</head>
<body>
    <div class = 'center'>
        <h1>Reset Your Password</h1>

        <!-- <form action = "/registration/resetPasswordReceive" method = 'POST'> -->
        <form action = "/resetPasswordReceive" method = 'GET'>
            <div class = 'txt_field'>
                <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" th:value = "*{email}" name = "email" required>
                <span></span>
                <label>Email</label>
            </div>

            <div class = 'txt_field'>
                <input type="text" th:value = "*{username}" name = "username" required>
                <span></span>
                <label>Username</label>
            </div>

            <div class = 'txt_field'>
                <input type="password" th:value = "*{password}" name = "password" required>
                <span></span>
                <label>New Password</label>
            </div>

            <input type="submit" value="Reset Password">

            <div class="signup_link">
                <a th:href = "@{/login}">Go back to Login</a>
            </div>

        </form>
    </div>
</body>
</html>